#user{
  border-radius:100%;
  border:1px solid white;
  height: 100px;
  width: 100px;
  line-height:100px;
  text-align:center;
  vertical-align:middle;
  color:white;
  display: inline-block;
  margin-top:-116px;
}
table{
  display:inline-block;
  margin-left:26px;
  color:white;
  text-align:left;
  border:solid white 1px;
}
td, th{
  width:100px;
  font-size:1em;
  border:solid white 1px;
  margin:0px;
  padding:45px;
}
#data{
  display:flex;
  background:lightblue;
  flex-direction:row;
}
#root{
  background:lightblue;
  padding-top:2%;
  padding-bottom:2%;
}
#names{
  border-radius:20px;
  height:80%;
  width:100px;
  display:flex;
  flex-direction: column;
  background:skyblue;
  border:solid white 1px;
  padding-left: 10px;
  padding-right:10px;
  margin-left:10px;
}
.username{
  margin-top: 5px;
  background-color:skyblue;
  height:100px;
  width:100px;
  text-align: center;
  vertical-align: middle;
  border-radius:100%;
  border:solid white 1px;
  color:white;
  line-height:100px;
  margin-bottom: 5px;
}
.username-highlight{
  margin-top: 5px;
  background-color:lightgreen;
  height:100px;
  width:100px;
  text-align: center;
  vertical-align: middle;
  border-radius:100%;
  border:solid white 1px;
  color:white;
  line-height:100px;
  margin-bottom: 5px;
}
.highlight{
  background: lightgreen;
  color:white;
}
.nohighlight{
  color:white;
  background:skyblue;
}
button{
  display: block;
}